APP_TZ=Asia/Shanghai

POSTGRES_DB=ai_agent_platform
POSTGRES_USER=aiclub
POSTGRES_PASSWORD=aiclub123
POSTGRES_PORT=5432

BACKEND_PORT=8080
FRONTEND_PORT=5173
CODE_PROCESSING_PORT=9000
MINIO_PORT=19000
MINIO_CONSOLE_PORT=19001
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=

PLATFORM_GITLAB_DEFAULT_API_URL=http://192.168.110.138:30080/api/v4
PLATFORM_TOKEN_SECRET=ai-club-demo-token-secret
PLATFORM_TOKEN_EXPIRE_HOURS=12
PLATFORM_SECURITY_SESSION_KEY_PREFIX=ai-club:login:token:
PLATFORM_MINIO_ACCESS_KEY=minioadmin
PLATFORM_MINIO_SECRET_KEY=minioadmin
PLATFORM_MINIO_BUCKET=ai-club-assets

BACKEND_IMAGE=git-ai-club-backend:latest
FRONTEND_IMAGE=git-ai-club-frontend:latest
CODE_PROCESSING_IMAGE=git-ai-club-code-processing:latest
POSTGRES_IMAGE=postgres:16
MINIO_IMAGE=minio/minio:RELEASE.2025-02-28T09-55-16Z
REDIS_IMAGE=redis:7-alpine
